@model Project_Thuc_Tap.Models.CompensatoryLeave

@{
    ViewData["Title"] = "Chỉnh sửa nghỉ bù";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2 class="text-danger text-center my-2">CHỈNH SỬA NGHỈ BÙ</h2>
<div class="responsive min-vh-100">
    <form asp-action="EditCompensatoryLeaves" method="post"  class="form-control bg-light">
        <div class="form-group">
            <label class="form-label mb-2">Họ tên</label>
            <input value="@(string.IsNullOrEmpty(Model.User?.FullName)?"Không rõ" : Model.User.FullName)" asp-for="UserId" class="form-control mb-2" readonly />
        </div>
        <div class="form-group">
            <label class="form-label mb-2">Ngày nghỉ bù</label>
            <input asp-for="CompensatoryDays" class="form-control mb-2" type="date" />
        </div>
        <div class="form-group">
            <label class="form-label mb-2">Ca trực</label>
            <select asp-for="Shift" class="form-select mb-2">
                <option value="">-- Chọn ca --</option>
                <option value="Sáng">Sáng</option>
                <option value="Chiều">Chiều</option>
                <option value="Tối">Tối</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label mb-2">Trạng thái</label>
            <select asp-for="Status" class="form-select">
                <option>-- Chỉnh trạng thái --</option>
                <option value="true">Duyệt rồi</option>
                <option value="false">Chưa duyệt</option>
                <option value="">Không cho</option>
            </select>
        </div>

        <button asp-action="EditCompensatoryLeaves" type="submit" class="btn btn-primary my-2">Lưu</button>
        <a onclick=" return confirm('Bạn có chắc muốn thoát') && window.history.back()" class="btn btn-secondary my-2">Quay lại</a>
    </form>
</div>