<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project_Thuc_Tap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project_Thuc_Tap.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/Icons/global-aid.png" width="48" height="48" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active" href="/Home/ViewAdmin">Trang chủ</a></li>
                        <li class="nav-item"><a class="nav-link" href="/DutySchedule/Index">Lịch trực</a></li>
                        <li class="nav-item"><a class="nav-link" href="/TimeKeepingManager/Index">Chấm công</a></li>
                        <li class="nav-item"><a class="nav-link" href="/ReportManager/Index">Báo cáo</a></li>
                        <li class="nav-item"><a class="nav-link" href="/CompensatoryLeavesManager/Index">Quản lý nghỉ bù</a></li>
                        <li class="nav-item"><a class="nav-link" href="/RoomManager/Index">Quản lý Phòng</a></li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/UserManager/User_ViewMain">Nhân Viên</a>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="container mt-5">
            &copy; 2025 - Hệ thống quản lý lịch trực và chấm công - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
